<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbord</title>
    <link rel="icon" href="assets/img/Main Logo.png">
    <link rel="stylesheet" href="./assets/font/font-awesome/css/line-awesome.css">
    <link rel="stylesheet" href="./assets/css/dropify.min.css">
    <link rel="stylesheet" href="./assets/css/hamburgers.css">   
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <div class="main">
        <div class="left_nevbar">
            <div class="side_bar">
                <div class="header">                    
                    <div class="logo">
                        <img src="assets/img/logo.png" alt="">
                        <h4>Udauan School</h4>
                    </div>
                    <div class="menu_bars">
                        <i class="las la-times"></i>
                    </div>                                       
                </div>
                <div class="title">
                    <h5>MAIN NAVIGATION</h5>
                </div>
                <ul class="nav_area">
                    <li>
                        <a href="index.html"><i class="las menu_icon la-home"></i>Dashbord</a>
                    </li>
                    <li>
                        <a class="toggle_btn" href="#"><i class="lab menu_icon la-wpforms"></i>Form<i class="las sub_icon la-angle-down"></i></a>
                        <ul class="sub_menu">
                            <li><a href="form_element.html"><i class="las la-arrow-right"></i>All Elements</a></li>
                            <li><a href="login.html"><i class="las la-arrow-right"></i>Login</a></li>
                        </ul>
                    </li>
                    <li><a href="table.html"><i class="las menu_icon la-table"></i>Table</a></li>
                    <li>
                        <a class="toggle_btn" href="#"><i class="las menu_icon la-cog"></i>Setting<i class="las sub_icon la-angle-down"></i></a>
                        <ul class="sub_menu">
                            <li><a href="profile.html"><i class="las la-arrow-right"></i>Profile</a></li>
                        </ul>
                    </li>
                </ul>                               <!--START FOOTER HERE -->
                <footer>
                    <div class="copy_right">
                        <a href="#">PEPPLOBD</a>
                        <p>&copy;2022-All Rights Reserved.</p>
                    </div>
                </footer> 
            </div>
        </div>
        <div class="right_content">
            <div class="top_head">
                <div class="bars hamburger hamburger--arrowturn-r">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                      </div>
                </div>
                <div class="search"><input class="search_input" type="text"><i class="las la-search"></i></div>
                <div class="social_link">
                    <div class="message"><i class="lar la-envelope-open"></i></div>
                    <div class="profile">
                        <img src="assets/img/curd.png" alt="">
                        <p>Abid <i class="las la-angle-down"></i></p>
                        <div class="profile_area">
                                <span></span>
                            <div class="img_area">
                                <img src="assets/img/curd.png" alt="">
                                <div class="img_text">
                                    <p>Abid Hasan Miraz</p>
                                    <p>miraz18917@yahoo.com</p>
                                </div>
                            </div>
                            <div class="profile_sub_item">
                                <i class="las la-envelope"></i>
                                <a href="#">Inbox</a>
                            </div>
                            <div class="profile_sub_item">
                                <i class="lar la-user-circle"></i>
                                <a href="#">Account</a>
                            </div>
                            <div class="profile_sub_item">
                                <i class="las la-cog"></i>
                                <a href="#">Setting</a>
                            </div>
                            <div class="profile_sub_item">
                                <i class="las la-sign-in-alt"></i>
                                <a href="#">Login</a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            <section id="table">
                <div class="contact_info">
                    <div class="t_title">
                        <a href="#" class="item_btn">Add New</a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Address</th>
                                <th>Contact Number</th>
                                <th>Email</th>
                                <th>Logo</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mediink Technological Limited</td>
                                <td> (+123) 45 67890</td>
                                <td> pepplobd@gmail.com</td>
                                <td>
                                    <img  src="assets/img/Main Logo.png" alt="">
                                </td>
                                <td>
                                    <a class="tooltip" href="#">
                                        <i class="lar la-eye"></i>
                                        <span class="tooltiptext">Show Details</span>
                                    </a>
                                    <a class="tooltip" href="#">
                                        <i class="lar la-edit"></i>
                                        <span class="tooltiptext">Update Info</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="user">
                    <div class="title">
                        <h3>All User</h3>   
                        <a href="#" class="t_btn">Add New</a>                     
                    </div>                    
                    <table>
                        <thead>
                            <tr>
                                <th>NO.</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Number</th>
                                <th>Photo</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>Kevin E. Mastro</td>
                                <td>Kevin007@gmail.com</td>
                                <td>0190132545</td>
                                <td>
                                    <img  src="assets/img/curd.png" alt="">
                                </td>
                                <td>                                    
                                     <input id="status" type="checkbox">                                   
                                </td>
                                <td>
                                    <a class="tooltip" href="#">
                                        <i class="lar la-edit"></i>
                                        <span class="tooltiptext">Update user</span>
                                    </a>
                                    <a class="tooltip" href="#">
                                        <i class="lar la-eye"></i>
                                        <span class="tooltiptext">Show Details</span>
                                    </a>
                                    <a class="tooltip" href="#">
                                        <i class="las la-trash"></i>
                                        <span class="tooltiptext">DeleteInfo</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td>Kevin E. Mastro</td>
                                <td>Kevin007@gmail.com</td>
                                <td>0190132545</td>
                                <td>
                                    <img  src="assets/img/curd.png" alt="">
                                </td>
                                <td>                                    
                                     <input id="status" type="checkbox">                                   
                                </td>
                                <td>
                                    <a class="tooltip" href="#">
                                        <i class="lar la-edit"></i>
                                        <span class="tooltiptext">Update user</span>
                                    </a>
                                    <a class="tooltip" href="#">
                                        <i class="lar la-eye"></i>
                                        <span class="tooltiptext">Show Details</span>
                                    </a>
                                    <a class="tooltip" href="#">
                                        <i class="las la-trash"></i>
                                        <span class="tooltiptext">DeleteInfo</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="student width_lg">
                    <div class="title">
                        <h3>All Student</h3>   
                        <a href="#" class="t_btn">Add New</a>                     
                    </div>                    
                    <table>
                        <thead>
                            <tr>
                                <th>Roll.</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Number</th>
                                <th>Photo</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td>Kevin E. Mastro</td>
                                <td>Kevin007@gmail.com</td>
                                <td>0190132545</td>
                                <td>
                                    <img  src="assets/img/curd.png" alt="">
                                </td>
                                <td>                                    
                                     <input id="present" type="checkbox">                                   
                                </td>
                                <td>
                                    <a class="tooltip" href="#">
                                        <i class="lar la-edit"></i>
                                        <span class="tooltiptext">Update user</span>
                                    </a>
                                    <a class="tooltip" href="#">
                                        <i class="las la-trash"></i>
                                        <span class="tooltiptext">DeleteInfo</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <script src="./assets/js/jquery-3.6.0.min.js"></script>
    <script src="./assets/plugins/apexcharts-bundle/js/apexcharts.min.js"></script>
    <script src="./assets/js/ckeditor.js"></script>
    <script src="./assets/js/apex.js"></script> 
    <script src="./assets/js/dropify.js"></script>    
    <script src="./assets/js/custom.js"></script>
</body>
</html>