
// $green: #0D5226;
// $green-400: #142b1df9;
// $yellow: #FBDC07;
// $red: #e31e28a0;
$black: #333;
$box-shadow: 0 0 5px #ddd;






$white: #FFFFFF;
$red: #970404;
$black: #343a40;
$black-700: #000;
$gray: #686868;
$gray-500: #c6c6c6;
$heading: #01284F;
$Feijoa: #C8E6C9;
$Feijoa-700: #AED581;
$Feijoa-active: #8BC34A;

$footer: #141414;






// social-colors 
$twitter: #1AA9E1;
$facebook: #3B5A9A;
$instagram: #B4388D;
