*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background-color: $white;
    font-weight: 400;
    color: $white;
    // font-family: OpenSans-Regular;
    font-family: SolaimanLipi;
}

.container{
    width: 85%;
    margin: auto;
}

