$color_1: rgb(73, 69, 69);
$color_2: #01284F;
$color_3: #FFF;
$hover:rgba(221, 221, 221, 0.356);
$logo:rgba(32, 80, 134, 0.808);
$shadow:rgba(207, 205, 205, 0.199);
$border_light: #080e181a;
$primary: #01284f;
$primary_dark: #001b36;
$primary_light: rgba(0, 37, 75, 0.8);
$border_light: rgba(0, 37, 75, 0.123);
$white: #fff;
$black: #11181f;
$background_dark: #19212c;
$background_darker: #080e18;
$background: #f2f4f7;
$background_light: #fafcff;

//text colors
$secondary: #6c757d;
$alert: #f44336;
$success: #4caf50;
$success-light: #e9ffe9;
$warning: #ff9800;
$dark: #212529;