.bar-wrapper{
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border_light;
    flex-wrap: wrap;
}
.bar{
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    gap: 2rem;
}

// .bar-item{
//     font-size: 1.4rem;
//     color: $primary;
//     cursor: pointer;
//     background-color: $white;
//     padding: 1rem 2rem;
// }
