.btn{
    padding: 1.5rem 2.5rem;
    font-size: 1.4rem;
    border-radius: .5rem;
    border: 1px solid $border_light;
    color: $primary;
    background-color: #fff;
    cursor: pointer;
    i{
        margin-right: 1rem;
    }
    &:hover{
        background-color: $primary;
        color: $white;
    }
}

.btn-sm{
    max-width: 10rem;
    text-align: center;
}
.btn-lg{
    max-width: 20rem;
    text-align: center;
}
.text_btn{
    text-decoration: underline;
    &:hover{
        filter: brightness(.2);
    }
}
.text-label{
    color: $primary;
}

@mixin button($theme_dark: false) {

    @if $theme_dark {
        background-color: black;
        color: white;
    } @else {
        background-color: white;
        color: #000;
    }
}

.button{
    padding: 1.5rem 2.5rem;
    font-size: 1.4rem;
    border-radius: .5rem;
    border: 1px solid $border_light;
}

.button-light{
    @include button($theme_dark: false);
}

.button-dark{
    @include button($theme_dark: true);
}

.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: $primary;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding:1rem 1.6rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 14px;
    transition: all 0.15s;
    &:hover{
        background-color: $primary;
        color: $white;
    }
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #000e1c 0 3px 7px inset;
    transform: translateY(2px);
  }

  .button-30--active{
    background-color: $primary;
    color: $white;
  }

  //Pagination button

  .pagination_nav{
    margin-top: 2rem;
  }
  .pagination{
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
  }

  .pagination-button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-sizing: border-box;
    color: $primary;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding:1rem 1.6rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 14px;
    transition: all 0.15s;
    &:hover{
        background-color: $primary;
        color: $white;
    }
  }
  
  .pagination-button-30:active {
    box-shadow: #000e1c 0 3px 7px inset;
    transform: translateY(2px);
  }

  .pagination-button-30--active{
    background-color: $primary;
    color: $white;
  }

  //button 38
.button-38 {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}

//alert design

.alert-success{
    background-color: #D1FAE5 !important;
    color: #10B981 !important;
    border: 1px solid #A7F3D0;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.4rem;
}

.alert-danger{
    background-color: #FEE2E2 !important;
    color: #EF4444;
    border: 1px solid #FECACA;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.4rem;
}

.alert-warning{
    background-color: #FEF3C7 !important;
    color: #F59E0B;
    border: 1px solid #FCD34D;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.4rem;
}

.alert-info{
    background-color: #DBEAFE !important;
    color: #3B82F6;
    border: 1px solid #93C5FD;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.4rem;
}