* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'roboto', sans-serif;
}

html::-webkit-scrollbar {
  width: .5rem;
}

html::-webkit-scrollbar-track {
  background: #ddd;
}

html::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 5rem;

}
div::-webkit-scrollbar {
  display: none;
}

//hide .print-none class in print
@media print {
  .print-none {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
}

// only show .print-only class in print
@media screen {
  .print-only {
    display: none !important;
  }
}